body{
	
}
.container{
	min-height: 1200px;
	background-color: lightgrey;
}
.navbar{
	background-color: white;
	display: flex;
	align-items: center;
	padding-bottom: 10px;
}
.logo{
	width: 25%;
	display: flex;
	justify-content: flex-end;
}
.search{
	width: 50%;
}
.search_design{
	background-color: lightgrey;
	display: flex;
	width: 30%;
}
.search_design p{
	font-family: Arial;
	font-size: 15px;
	color: grey;
}
.avatar{
	width: 25%;
	display: flex;
}
.avatar p{
	font-weight: bold;
	font-family: Arial;
}
.info{
	display: flex;
}
.leftbar{
	width: 30%;
	display: flex;
	justify-content: flex-end;
	font-family: Arail;
}
.menutabs{

}
.first_tabs{
	width: 23%;
}
.second_tabs{
	width: 23%;
	margin-top: 50px;
}
.third_tabs{
	width: 23%;
	padding-top: 20px;
}
.fourth_tabs{
	width: 23%;
	padding-top: 20px;
}
.centerbar{
	width: 15%;
	padding: 15px;
}
.first_cell{
	background-color: white;
}
.picture_soccer{
	display: flex;
	justify-content: center;
	padding-top: 15px;

}
.info_first_cellbar{
	display: flex;
	justify-content: center;
	padding-right: 15px; 
}
.profilebar{

}
.edit{
	display: flex;
	justify-content: center;
	padding-top: 10px;
}
.edit button{
	font-size: 17px;
}
.info_first_cell p{
	font-family: Arial;
}
.second_cell{
	display: flex;
	justify-content: center;
	background-color: white;
	margin-top: 20px;
}
.second_cell p{
	font-family: Arial;
}
.third_cell{
	background-color: white;
	margin-top: 20px;
}
.friends h4{
	font-family: Arial;
}
.friends p{
	font-family: Arial;
}
.friends_profile{
	padding-left: 23px;
}
.friends_profile td{
	font-family: Arial;
}
.friends_online h4{
	font-family: Arial;
	padding-left: 15px;
}
.friends_profile_online{
	padding-left: 23px;
}
.friends_profile_online td{
	font-family: Arial;
}
.friends{
	display: flex;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;
}
.friends p{
	margin-bottom: 10px;
	align-items: center;
}
.friends_online{
	padding-top: 10px;
}
.rightbar{
	width: 55%;
}
.Ilyas_info2 th{
	font-size: 30px;
}
.Ilyas_info2 td{
	font-family: Arail;
}
.Ilyas_info1 td{
	font-family: Arial;
}
.Ilyas_name{
	display: flex;
	justify-content: space-between;
}
.Ilyas_name b{
	font-size: 30px;
	font-family: Arial;
}
.Ilyas_name p{
	font-family: Arial;
	font-size: 17px;
}
.first_Ilyas_cell{
	width: 70%;
	background-color: white;
	margin-top: 10px;
}
.number_pictures{
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
}
.Photos{
	background-color: white;
	margin-top: 20px;
	width: 70%
}
.gallery{
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}
.Ilyas_info{
	padding: 20px;
}
.Ilyas_info1 p{
	padding-left: 20px;
}